@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-01: #264653;
  --color-02: #2A9D8F;
  --color-03: #F4A261;
  --color-04: #E76F51;
  --color-05: #E9C46A;
  --white: snow;
  --black: #0B1215;
  
  --font-lilita-one: 'Lilita One', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  padding: 1rem;
} */
